<!DOCTYPE html>
<html lang="en">

<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Exchange Playlists between Apple Music & Spotify | Playlist-ify</title>
  {% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="music, spotify, playlists, iTunes, Apple">
  <meta name="description" content="Free open-source tool enabling unlimited uploads of Apple playlists to Spotify">
  <meta name="google-site-verification" content="6QJQWo9ZYL3htxLIr_aOU9da2tZeglGXfNCIp-WJvtA" />
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  {#
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon.svg') }}"> #}

  {% block head %}{% endblock %}

  {% block style %}{% endblock %}
</head>

<body>
  <div class="grid-container fluid-type">
    {% block content %}{% endblock %}
    <footer class="footer flex-footer">
      <div class="flex-main">
        <small>
          Copyright &copy;2019 - <span id="currentYear"></span>, Steven Zekowski. All Rights Reserved.
          <br>Loading animation modified from Anders Grimsrud's
          <a href="https://codepen.io/agrimsrud/pen/vtmoq" target="_blank">
            CSS Domino Loader
          </a>
        </small>
      </div>
      <div>
        <small><a href="https://bitbucket.org/Steve-Z/spotify-project/issues">Contact Us</a></small>
        <br>
        <small>
          <a href="https://bitbucket.org/Steve-Z/spotify-project/src/master/">Repository</a>
        </small>
      </div>
    </footer>
  </div>
  <script>
    var d = new Date();
    document.getElementById("currentYear").innerHTML = d.getFullYear();
  </script>
  {% block script %}{% endblock %}
</body>

</html>