{% extends "base.html" %}

{% block head %}
{# <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> #}
{% endblock %}

{% block content %}
<div class="playlists pad-sides" id="playlists">
  <h3>Playlists
    <button>
      <a href="{{ url_for('routes.upload') }}">Import a Playlist</a>
    </button>
  </h3>
  <div>
    <a href="/profile">&larr; Back to Snapshot Page</a> 
  </div>
  <p class="blue-link">
    <a href="{{ url_for('routes.upload', refresh=True) }}">
      Refresh <img src="{{ url_for('static', filename='images/refresh.svg') }}">
    </a>
    <br>
    <small class="clickable blue-link" id="show_hide" onclick="showHideDownloads()">
      <br>Enable playlist downloads +
    </small>
  </p>
  <h5 class="hidden" id="dl_instruction">
    Click <span class="dl-icon">&darr;</span> to download as a CSV file
    {# <i class="material-icons clickable" onclick="showModal('info1')">info_outline</i> #}
    <img class="material-icons clickable" onclick="showModal('info1')" src="{{ url_for('static', filename='images/info_blue.svg') }}" alt="INFO">
    <div class="modal clickable hidden" id="info1" onclick="closeModal(this)">
      <img class="material-icons" src="{{ url_for('static', filename='images/close_white.svg') }}" alt="CLOSE">
      <ul>
        <li>View as a spreadsheet</li>
        <li>Share with other Spotify users (who can import it with Playlist-ify)</li>
        <li>Share with iTunes/Music users (who can import it if the songs are in their library)</li>
      </ul>
    </div>
  </h5>
  <h5 class="modal hidden clickable" id="processing" onclick="closeModal(this)">
    {# <i class="material-icons">close</i>  #}
    <img class="material-icons" src="{{ url_for('static', filename='images/close_white.svg') }}" alt="CLOSE">
    &nbsp;Processing your download...
  </h5>
  {% if playlists %}
    {% for playlist in playlists %}
      {% with name = playlist.name, id = playlist.id %}
        <p>
          <a href="{{ playlist.external_urls.spotify }}" target="_blank">{{ name }}</a>
          <a class="dl-icon hidden"
            href="{{ url_for('routes.download', id=id, name=name) }}" onclick="setTimeout(showModalProc, 1500)">
            &darr;
          </a>
        </p>
      {% endwith %}
    {% endfor %}
  {% else %}
    <p>We could not retrieve any playlists.</p> 
    <p>Have you created any?</p>
  {% endif %}
</div>
{% endblock %}

{% block script %}
<script>

  function showHideDownloads() {
    var playlists = document.getElementById("playlists");
    var instruction = document.getElementById("dl_instruction");
    var toggle = document.getElementById("show_hide");
    
    if ( instruction.className.indexOf("hidden") == -1 ) {
      var downloads = playlists.getElementsByClassName("dl-icon float-right");
      instruction.className += "hidden";
      toggle.innerHTML = "<br>Enable playlist downloads +";
      while (downloads.length > 0) {
        downloads[0].classList.add("hidden");
        downloads[0].classList.remove("float-right");
      }
    }
    else {
      var downloads = playlists.getElementsByClassName("dl-icon hidden");
      instruction.className = instruction.className.replace("hidden", "");
      toggle.innerHTML = "<br>Disable playlist downloads &mdash;";
      while (downloads.length >= 0) {
        downloads[0].classList.add("float-right");
        downloads[0].classList.remove("hidden");
      }
    }
  }

  function showModal(id) {
    var modal = document.getElementById(id);
    if (modal.className.indexOf("hidden") != -1) {
      modal.className = modal.className.replace("hidden", "");
    }
    else {
      closeModal(modal);
    }
  }

  function closeModal(element) {
    element.className += " hidden";
  }

  function showModalProc() {
      showModal("processing");
      document.getElementById("processing").scrollIntoView();
  }

  /* Borrowed getCookie(cname) from
  https://www.w3schools.com/js/js_cookies.asp */

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  setInterval(checkCookie, 1000);  // Check for cookie every second.

  function checkCookie() {
    let cookie = getCookie("download");
    element = document.getElementById("processing");

    if (cookie != "" && cookie.startsWith("{{ session.user.id }}")) {
      closeModal(element);
      // Clear this cookie; set 'SameSite=Strict' to avoid browser SameSite cookie warning.
      document.cookie = "download=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/; SameSite=Strict";
    }
  }

</script>
{% endblock %}
